
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');


.options {
	width: 150px;
	left: 45vw;
	top: 44vw;
	position: absolute;
}



/*.options {
	width: 125px; 
	bottom: calc(50% - 75px);
	left: calc(50% - 75px);
	position: absolute;
}*/

/*
.options {
	width: 125px;
	position: absolute;
	top: calc(75% - 75px);
	left: calc(50% - 75px);
}*/