.table {

	
	background-color: green;
	border-radius: 50%;	
	height: 300px;
	width: 650px;
	margin-left: 10%;
	margin-top: 20px; 

}

.board {
	position: absolute;
	top: 130px;
	left: 250px;
}

.User1 {
	position: absolute;
	top: 10px;
	left: 200px;
	
}


.User2{
	position: absolute;
	top: -12px;
	left: 400px;
}


.User3 {
	position: absolute;
	top: -12px;
	right: 225px;
}

.User4 {
	position: absolute;
	top: 10px;
	right: 50px;
}

.User5 {
	position: absolute;
	top: 300px;
	left: 200px;
}

.User6 {
	position: absolute;
	top: 325px;
	left: 400px;
}

.User7 {
	position: absolute;
	top: 330px;
	right: 225px;
}

.User8 {
	position: absolute;
	top: 330px;
	right: 50px;

}
