
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

.board {
	position: absolute;
	top: 200px;
	left: 450px;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 3em;
}

#tableImage {
	width: 100%;
	height: auto;
}


.User1 {
	position: absolute;
	top: 60px;
	left: 175px;
	
}


.User2{
	position: absolute;
	top: 5px;
	left: 425px;
}


.User3 {
	position: absolute;
	top: 5px;
	right: 400px;
}

.User4 {
	position: absolute;
	top: 70px;
	right: 150px;
}

.User8 {
	position: absolute;
	top: 400px;
	left: 200px;
}

.User7 {
	position: absolute;
	top: 450px;
	left: 420px;
}

.User6 {
	position: absolute;
	top: 450px;
	right: 400px;
}

.User5 {
	position: absolute;
	top: 400px;
	right: 225px;

}
