
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');




@media (min-width: 1800px) {

.board {
	position: absolute;
	top: 55%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 80px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 13%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 10%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 10%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 15%;
	right: 10%;
	}

.User8 {
	position: absolute;
	bottom: -40%;
	left: 10%;
	}

.User7 {
	position: absolute;
	bottom: -45%;
	left: 31%;
	}

.User6 {
	position: absolute;
	bottom: -45%;
	right: 31%;
	}

.User5 {
	position: absolute;
	bottom: -40%;
	right: 10%;

	}

}


@media (min-width: 1400px) and (max-width: 1799px){


.board {
	position: absolute;
	top: 50%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 60px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 13%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 10%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 10%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 15%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 90%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 95%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 95%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 90%;
	right: 10%;

	}

}

@media (min-width: 1300px) and (max-width: 1399px){

.board {
	position: absolute;
	top: 45%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 55px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 13%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 10%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 10%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 15%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 75%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 80%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 80%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 75%;
	right: 10%;

	}

}

@media (min-width: 1200px) and (max-width: 1299px){

.board {
	position: absolute;
	top: 40%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 50px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 13%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 10%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 10%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 15%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 70%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 75%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 75%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 70%;
	right: 10%;

	}

}


@media (min-width: 1100px) and (max-width: 1199px){

.board {
	position: absolute;
	top: 35%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 45px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 13%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 10%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 10%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 15%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 65%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 70%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 70%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 65%;
	right: 10%;

	}

}


@media (min-width: 1000px) and (max-width: 1099px){

.board {
	position: absolute;
	top: 35%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 40px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 13%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 10%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 10%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 15%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 60%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 65%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 65%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 60%;
	right: 10%;

	}

}

@media (min-width: 950px) and (max-width: 999px){

.board {
	position: absolute;
	top: 33%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 35px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 13%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 10%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 10%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 15%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 55%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 60%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 60%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 55%;
	right: 10%;

	}

}


@media (min-width: 900px) and (max-width: 949px){

.board {
	position: absolute;
	top: 30%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 30px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 11%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 9%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 9%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 11%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 50%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 55%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 55%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 50%;
	right: 10%;

	}

}

@media (min-width: 850px) and (max-width: 899px){

.board {
	position: absolute;
	top: 28%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 25px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 11%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 9%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 9%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 11%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 45%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 50%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 50%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 45%;
	right: 10%;

	}

}

@media (min-width: 800px) and (max-width: 849px){

.board {
	position: absolute;
	top: 26%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 25px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 10%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 9%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 9%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 10%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 40%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 45%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 45%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 40%;
	right: 10%;

	}

}



@media (min-width: 750px) and (max-width: 799px){

.board {
	position: absolute;
	top: 24%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 22px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 10%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 9%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 9%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 10%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 35%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 40%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 40%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 35%;
	right: 10%;

	}

}

@media (min-width: 700px) and (max-width: 749px){

.board {
	position: absolute;
	top: 22%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 20px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 9%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 8%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 8%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 9%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 30%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 35%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 35%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 30%;
	right: 10%;

	}

}

@media (min-width: 650px) and (max-width: 699px){

.board {
	position: absolute;
	top: 20%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 17px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 7%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 6%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 6%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 7%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 25%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 30%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 30%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 25%;
	right: 10%;

	}

}

@media (min-width: 600px) and (max-width: 649px){

.board {
	position: absolute;
	top: 18%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 16px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 7%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 6%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 6%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 7%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 20%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 25%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 25%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 20%;
	right: 10%;

	}

}


@media (min-width: 550px) and (max-width: 599px){

.board {
	position: absolute;
	top: 18%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 15px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 6%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 5%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 6%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 6%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 5%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 20%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 20%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 15%;
	right: 10%;

	}

}


@media (min-width: 500px) and (max-width: 549px){

.board {
	position: absolute;
	top: 18%;
	left: 35%;
	color: black;
	font-family: 'Londrina Solid', cursive;
	font-size: 15px;
}

#tableImage {
	width: 100%;
	height: auto;
	}


.User1 {
	position: absolute;
	top: 6%;
	left: 10%
	
	}


.User2{
	position: absolute;
	top: 7%;
	left: 31%;
	}


.User3 {
	position: absolute;
	top: 7%;
	right: 31%;
	}

.User4 {
	position: absolute;
	top: 6%;
	right: 10%;
	}

.User8 {
	position: absolute;
	top: 10%;
	left: 10%;
	}

.User7 {
	position: absolute;
	top: 15%;
	left: 31%;
	}

.User6 {
	position: absolute;
	top: 15%;
	right: 31%;
	}

.User5 {
	position: absolute;
	top: 10%;
	right: 10%;

	}

}














